@import './variables.css';

.container-card {
  height: 356px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}
.container-card:hover {
  cursor: pointer;
}
.container-img{
  height: 72%;
}
.img-card {
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.container-text {
  height: 99px;
  text-decoration: none;
  background-color: var(--primary-background);
  border-radius: 0px 0px 20px 20px;
  border-top: 1px solid black;
}
.card-title {
  font-size: 18px;
  text-align: center;
}
.block-lien {
    display: flex;
    justify-content: space-around;
  }
.icone-lien {
    font-size: 18px;
}
.texte-lien{
  margin: 0;
  margin-left: 8px;
}
@media (min-width:330px) and (max-width:599px){
  .card-title{
      font-size: 12px;
    }
    .texte-lien{
      font-size: 10px;
    }
    .container-card{
      height: 320px;
    }
    .icone-lien {
      font-size: 15px;
    }
}