@import './variables.css';

* {
    font-family: 'Open Sans', sans-serif;
}
.block-cv{
    width: 800px;
    box-shadow: 0px 0px 27px 0px;
    letter-spacing: 1px;
}
.block-title{
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
    margin-bottom: 45px;
}
.block-title-texte{
    color: var(--primary-color-texte);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title-texte1{
    margin: 0;
    font-size: 35px;
}
.title-texte2{
    margin: 0;
    font-size: 22px;
    margin-top: 6px;
}
.cv-photo-id{
    width: 110px;
    height: 110px;
}
.block-cv-descriptif{
    display: flex;
    padding-bottom: 75px;
    width: 90%;
    margin: auto;
}
.container-cv-com{
    width: 30%;
    background-color:var(--primary-cv-background);
    display: flex;
    justify-content: center;
}
.block-cv-com{
    width: 86%;
    margin-top: 40px;
}
.block-com{
    margin-bottom: 20px;
    color: var(--secondary-color-texte);
}
.title-com{
    margin: 0;
    font-size: 16px;
}
.title-texte{
    margin: 0;
    font-size: 12px;
}
.img-qrcode{
    width: 102px;
    height: 102px;
    margin-left: 41px;
    margin-top: 28px;
}
.container-cv-descriptif{
    width: 70%;
}
.cv-descriptif{
    margin-left: 25px;
}
.descriptif-title{
    border-bottom: 3px solid var(--primary-cv-background);
    margin: 0;
    font-size: 18px;
    color: var(--primary-cv-background);
}
.block-descriptif{
    display: flex;
    justify-content: center;
}
.descriptif-date{
    width: 24%;
}
.descriptif-texte{
    width: 75%;
}
.liste-descriptif{
    margin: 0;
    margin-top: 15px;
}
.liste-texte{
    margin-top: 3px;
}
@media (min-width:330px) and (max-width:800px){
    .block-cv{
       width: 100%; 
    }
    .title-texte1{
        font-size: 16px;
    }
    .title-texte2{
        font-size: 11px;
    }
    .cv-photo-id{
        width: 60px;
        height: 60px;
    }
    h2{
        font-size: 13px;
    }
    p{
        font-size: 9px;
    }
    .block-cv-descriptif{
        width: 95%;
    }
    .title-com{
        font-size: 10px;
    }
    .title-texte{
        font-size: 9px;
    }
    .img-qrcode{
    display: none;
    }
    .descriptif-title{
        font-size: 12px;
    }
    .descriptif-date{
        width: 30%;
    }
    .descriptif-texte{
        width: 70%;
    }
    .container-cv-com{
        width: 35%;
    }
    .block-cv-com{
        width: 94%;
    }
    .block-com{
        margin-bottom: 20px;
    }
    .title-texte{
        margin-top: 2px;
    }
    .container-cv-descriptif{
        width: 70%;
    }
    .cv-descriptif{
        margin-left: 5px;
    }
    .liste-texte{
        font-size: 9px;
    }
  }  