@import './variables.css';

.container-footer{
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: end;
}
.footer{
  display: flex;
  justify-content: space-between;
  width: 388px;
  margin-right: 95px;
  height: 30px;
}
.icone-footer{
  margin-right: 4px;
  font-size: 18px;
}
.info-text{
  margin: 0;
}
@media (min-width:330px) and (max-width:599px){
  .container-footer{
    justify-content: center;
    height: 80px;
    }
    .footer{
      margin-right: 0;
      width: auto;
      }
      .info-text{
        font-size: 12px;
      }
      .icone-footer{
        margin-top: 0;
      }
}