@import './variables.css';

.header-container {
    margin: auto;
}
.block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}
.container-logo {
    display: flex;
    align-items: center;
}
.header-img {
    width: 86px;
}
.header-p {
    margin-left: 15px;
    font-weight: 100;
    font-size: 18px;
    margin-bottom: 0;
}
.container-nav {
    display: flex;
    margin-bottom: -13px;
    width: 155px;
    justify-content: space-between;
}
.nav-texte{
    background: var(--secondary-background);
    box-shadow: 0px 3px 5px 0px black;
}
.lien-nav {
    color: var(--secondary-color-texte);
    padding: 3px 18px;
    border-radius: 50px;
    font-size: 15px;
    transition: .1s;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 0;
}
.lien-nav:hover {
    background: var(--secondary-background);
    box-shadow: 0px 3px 5px 0px black;
    color: var(--primary-color-texte);
}
  @media (min-width:330px) and (max-width:599px){
    .block-header{
        width: 100%;
    }
    .header-p{
        font-size: 14px;
        margin-left: 5px;
        color: black;
        font-weight: 600;
    }
}