@import './variables.css';

.container-card {
  height: 400px;
  margin: 0 15px;
  display: flex;
  flex-direction: column;
}
.img-card {
  width: 100%;
  height: 75%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.container-text {
  height: 94px;
  text-decoration: none;
  background-color: var(--primary-background);
  border-radius: 0px 0px 20px 20px;
  border-top: 1px solid black;
}
.card-title {
  font-size: 18px;
  text-align: center;
  margin-top: 15px;
}
.block-lien {
    display: flex;
    justify-content: space-around;
    height: 21px;
    margin-top: 15px;
  }
.icone-lien {
    font-size: 18px;
}
.texte-lien{
  margin: 0;
  margin-left: 8px;
  font-size: 14px;
}
@media (min-width:320px) and (max-width:599px){
  .card-title{
      font-size: 11px;
    }
    .texte-lien{
      font-size: 9px;
    }
    .container-card{
      height: 320px;
    }
}