.container-footer{
  margin-top: 35px;
  background-color: var(--background-color-slick);
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}
.icone-footer{
  margin-right: 10px;
}
.info-text{
  margin: 0;
}