.container-footer{
  margin-top: 35px;
  background-color: var(--background-color-slick);
  height: 70px;
}
.footer{
  display: flex;
  justify-content: center;
}
.icone-footer{
  margin-right: 10px;
}
.info-text{
  margin: 0;
}