.header-container {
margin: auto;
}
.block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}
@media (min-width:320px) and (max-width:599px){
    .block-header{
        width: 100%;
    }
}
.container-logo {
    display: flex;
    align-items: center;
}

.header-img {
    width: 86px;
}
.header-p {
    margin-left: 15px;
    font-weight: 100;
    font-size: 18px;
    color: var(--primary-color-texte);
    margin-bottom: 0;
}
@media (min-width:320px) and (max-width:599px){
    .header-p{
        font-size: 14px;
        margin-left: 5px;
        color: black;
    }
  }
.container-nav {
    display: flex;
    margin-bottom: -13px;
}
@media (min-width:320px) and (max-width:599px){
    .container-nav{
        margin-right: 10px;
        font-size: 12px;
    }
  }
.lien-nav {
    top: 6px;
    background: var(--primary-color);
    padding: 4px 15px;
    border-radius: 50px;
    font-size: 15px;
    transition: .3s;
    color: var(--primary-color-texte);
    text-decoration: none;
    font-weight: 100;
    margin-left: 20px;
    display: flex;
    align-items: center;
}
.lien-nav:hover {
    background-color: #c4dcf1;
    color: black;
    margin-top: -5px;
    box-shadow: 0px 5px 4px -1px black;  
}
@media (min-width:320px) and (max-width:599px){
    .lien-nav{
        font-size: 12px;
        margin-left: 5px;
        color: black;
    }
  }
