@import './variables.css';

.header-container {
    height: 120px;
    margin: auto;
}
.block-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}
.container-logo {
    display: flex;
    align-items: center;
}
.header-img {
    width: 86px;
}
.header-p {
    margin-left: 15px;
    font-weight: 100;
    font-size: 18px;
    color: var(--primary-color-texte);
    margin-bottom: 0;
}
.container-nav {
    display: flex;
    margin-bottom: -13px;
    width: 145px;
    justify-content: space-between;
}
.lien-nav {
    background: var(--primary-background);
    color: var(--primary-color-texte);
    padding: 4px 15px;
    border-radius: 50px;
    font-size: 15px;
    transition: .2s;
    text-decoration: none;
    display: flex;
    align-items: center;
}
.lien-nav:hover {
    background-color: var(--secondary-background);
    margin-top: -5px;
    box-shadow: 0px 5px 4px -1px black;  
}
  @media (min-width:320px) and (max-width:599px){
    .block-header{
        width: 100%;
    }
    .header-p{
        font-size: 14px;
        margin-left: 5px;
        color: black;
        font-weight: 600;
    }
    .container-nav{
        margin-right: 10px;
        font-size: 12px;
        width: 125px;
    }
    .lien-nav{
        font-size: 12px;
        font-weight: 600;
        color: black;
    }
}
