.slider{
    width: 90%;
    margin: 0 auto;
  }
  .img-div{
    height: 300px;
    margin: 0 15px;
    text-decoration: none;
  }
  .projet1{
      background: url('../assets/html.jpg') center no-repeat;
      background-size: cover;
  }
  .projet2{
    background: url('../assets/css3.webp') center no-repeat;
    background-size: cover;
}
  .projet3{
    background: url('../assets/seo.jpg') center no-repeat;
    background-size: cover;
}
  .projet4{
    background: url('../assets/java-script.jpg') center no-repeat;
    background-size: cover;
}
  .projet5{
    background: url('../assets/back-end.jpg') center no-repeat;
    background-size: cover;
}
  .projet6{
    background: url('../assets/react.png') center no-repeat;
    background-size: cover;
}