@import './variables.css';
body {
  margin: auto;
}
*{
  font-family: 'Open Sans', sans-serif;

}
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: var(--primary-color);
}
.block-home{
  width: 75%;
  padding-bottom: 40px;
  background-color: #c4dcf1;
  box-shadow: 0px 1px 12px 2px black;
  border-radius: 20px;
}
@media (min-width:320px) and (max-width:599px){
  .block-home{
      width: 95%;
      box-shadow: none;
  }
}
.titre-formation{
    text-align: center;
} 
.slider {
  width: 90%;
  margin: 0 auto;
}
@media (min-width:320px) and (max-width:599px){
  .slider{
      width: 80%;
  }
}