@import './variables.css';
body {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
}
*{
  font-family: "Montserrat", sans-serif;
}
.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--primary-color);
}
.block-home{
  width: 80%;
  height: 420px;
  background-color: var(--background-color-slick);
  box-shadow: 0px 1px 12px 1px black;
}
.titre-formation{
    text-align: center;
    color: var(--primary-color);
} 
.slider {
  width: 90%;
  margin: 0 auto;
}
