:root {
    --primary-color:  #f4f4f4;
}
:root {
    --background-color-slick: #5f9ea0;
}
:root {
    --background-color-nav:  #f91942;
}
:root {
    --background-color-card: #e1effb;
}
:root {
    --primary-color-texte :#666;
}
